.challenge-page {
    position: relative;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    overflow: hidden;
  }
  
  .combat-background {
    position: absolute;
    top: 0;  
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/combat_scenario.png'); /* Ensure the path is correct */
    background-size: cover;
    background-position: center;
    z-index: 1; /* Keeps the background behind other content */
    margin-top: 2px;
  }

  .character {
    position: absolute;
    width: 200px; 
    height: 250px; 
    background-size: contain;
    background-repeat: no-repeat; 
    transition: left 0.2s ease-out;
    top: 37vh;
}
