nav{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
    padding: 15px 5%;
    background: white;
    width: auto;

    top: 0;
    z-index: 100;
    box-shadow: 2px 2px 5px #7e5d77; 
}
.nav-left, .nav-right{
    display: flex;
}

.logo{
    text-decoration: none;
    font-weight: bold;
}
.nav-right a{
    padding: 0 15px;
}
